PORT=9999
MONGODB_URI=mongodb://localhost:27017/phoneshop
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
JWT_EXPIRES=7d
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
FRONTEND_ADMIN_URL=http://localhost:5173
FRONTEND_CUSTOMER_URL=http://localhost:5174
